footer{
	width: 100%;
	height: 49px;
	padding-bottom: 16px;
	padding: 1em 0;
	background:  #222;
	background: rgb(0, 0, 0, 0.90);
	border-top: 2px solid #DD7137;
	z-index: 2000;
	text-align: center;
	position: absolute; /*Utilizamos 'fixed' para situarlo siempre en el lugar que corresponde*/
	bottom: 0; /*Siempre estará en la parte inferior de la página*/
	margin-top: auto;
}

#Contenido{
	max-width: 100%;/*Anchura máxima*/
	position: relative;
	top: 80px;
	margin: 0 auto;
	background-color: darkorange;
	padding: 10% 20%;
}

#Contenido header{
	height: 120px;
	padding: 10px 20px;/*Espaciado, 1er valor para inferior y superior, segundo valor para los lados*/
	background-color: lightsalmon;
	border-radius: 1em;
}

#Principal{
	height: 600px;/*Alto*/
	width: 35%;/*Ancho*/
	float: left;/*Ubicar a la izquierda*/
	padding: 4px;/**/
}